:root {
    --bs-font-sans-serif: Inter, sans-serif;
    --bs-body-font-weight: 400;
    --bs-body-color: #858585;
    --bs-body-color-rgb: 133, 133, 133;
    --light-color: #D9D9D9;
    --dark-color: #7a7a7a;
    --color-white: #fff;
    --color-black: #000;
}

html,
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    word-break: break-word;
    text-decoration: none;
}

p {
    margin: 0;
}

ul li::marker {
    color: var(--color-black);
}

.header {
    color: var(--color-white);
}

.name {
    font-size: 2rem;
    line-height: 2rem;
    text-transform: uppercase;
    font-weight: 700;
}

.facts {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

.skills-list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

@media not print {
    .header {
        padding: 2rem;
        background-color: #01a4c1;
    }

    .summary {
        padding: 2rem;

        .title {
            color: #01a4c1;
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 700;
            margin-bottom: .5rem;
        }

        .content {
            color: #494c4e;
        }
    }

    .separator {
        margin: 0;
        padding: 0 2rem;

        hr {
            margin: 0;
        }
    }
}

@page {
    size: auto;
    margin: 10mm;
}
