:root {
    --bs-font-sans-serif: Inter, sans-serif;
    --bs-body-font-weight: 400;
    --bs-body-color: #858585;
    --bs-body-color-rgb: 133, 133, 133;
    --light-color: #D9D9D9;
    --dark-color: #7a7a7a;
    --color-white: #fff;
    --color-black: #000;
    --color-primary: #494C4E;
    --color-common-chestnut: #01a4c1;
}

html,
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--color-primary);
    font-size: 16px;
}

a {
    word-break: break-word;
    text-decoration: none;
}

p {
    margin: 0;
}

ul li::marker {
    color: var(--color-black);
}

.skills-list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.far,
.fa {
    text-decoration: none !important;
    margin-right: 5px;
}

.screen:hover {
    text-decoration: underline;
}

.fact-icon {
    width: 1em;
    margin-right: 0.5rem;
}

@media print {
    body {
        font-size: 0.7rem;
    }

    a {
        text-decoration: underline;
    }

    .page {
        min-width: 100%;
    }

    .name {
        margin-bottom: 1rem !important;
        color: var(--color-primary) !important;

        a {
            color: var(--color-primary) !important;
        }
    }

    .screen {
        display: none;
    }

    .header {
        padding-block: 0 !important;
    }
}

@media not print {
    .name {
        a {
            color: var(--color-white) !important;
        }
    }
}

@page {
    size: auto;
    margin: 10mm;
}


